.customization {
    position: fixed;
    bottom: 0;
    right: 2rem;
    z-index: 5;
    background-image: url(https://drive.google.com/uc?export=view&id=1JInDR40M_SrE1VzsQsD4PqUBNNH8xAHV);
    background-repeat: no-repeat;
    width: 140px;
    height: 153px;
}

.customization:hover {
    background-image: url(https://drive.google.com/uc?export=view&id=1vJsu_r8qz1W1QdMtLGELEmDcdAJMt4C9);
}