.nav-btn:hover {
    color: #3a3a3a !important;
    box-shadow: 0 3px #3a3a3a;
}

.btn-primary {
    color: #3a3a3a;
}

.btn-outline-primary {
    color: #3a3a3a;
    border: 1px solid #3a3a3a;
}