// 遮罩
.designer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}

.designer:hover {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent 70%);
}

// 文字
.designer-text {
    position: absolute;
    left: 1.5rem;
    bottom: 1rem;
    color: rgba(255, 255, 255, 0);
    z-index: 10;
}

.designer:hover+.designer-text {
    color: rgba(255, 255, 255, 1.0);
}

// 圖片
@media (max-width: 992px) {
    .designer:hover {
        transform-origin: top left;
        transform: scale(1.5);
        transition: all 1s ease;
    }

    .designer:hover~img {
        transform-origin: top left;
        transform: scale(1.5);
        transition: all 1s ease;
    }
}