.logo {
    background-image: url(https://drive.google.com/uc?export=view&id=1qjTflw3DX5u2lboctTwLiTErJaH40khA);
    width: 119px;
    height: 40px;
    display: block;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}